<!DOCTYPE html>
<html style="background-color: #f4f4f4;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Weather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div>
                <h1 class="title">
                    Flask Weather
                </h1>
                <p class="subtitle">
                    How's the Weather looking today?
                </p>
            </div>
            <div class="columns is-centered">
                <form method="POST" action="add">
                    <div class="field is-grouped mt-6 mb-4">
                        <div class="control">
                            <input class="input" name="city" type="text" placeholder="Enter City" required>
                        </div>
                        <div class="control">
                            <input class="button is-link" type="submit" value="Add">
                        </div>
                    </div>
                </form>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="columns is-centered">
                <div class="column is-4 notification is-{{category}}">
                    <button class="delete is-small"></button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>

</html>